body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(44, 44, 44);
    color: #ccc;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c27706;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margi: 0;
    padding: 30;
    overflow: hidden;
    background-color: #c27706;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 120px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

.container {
    padding: 40px;
    margin: 0;
    text-align: center;
    font-size: large;
}

.contato {
    text-align: center;
    font-size: large;
    
}

.linkedin-link {
    color: #0077B5; 
    text-decoration: none; 
}

.formulario {
    text-align: left;
    font-size: larger;
    width: 60%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border-radius: 4px;

}

form {
    max-width: 600px;
    margin: 0 auto;
    }

form input, form textarea {
    width: 110%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
   }

form input[type="submit"] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    
}

form input[type="submit"]:hover {
    background-color: #45a049;
}